@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
    padding: 0px;
    margin: 0px;
}

:root{
    --corfundo: #313131;
    --corheader: #141414;
}

body{
    background-color: var(--corfundo);
    font-family: 'Bebas Neue', sans-serif;
}

header{
    padding-top: 20px;
    padding-bottom: 22px;
    margin-bottom: 0px;
    height: 110px;
    color: white;
    background-image: linear-gradient(to top, #000000, #14141400);
    text-align: center;
}

header h1{
    font-size: 3em;
    margin-bottom: 30px;
    text-shadow: 2px 2px 7px rgba(0, 0, 0, 0.753);
}

header a{
    font-size: 1.19em;
    text-decoration: none;
    color: white;
    padding: 0px 20px;
}

header a:hover{
    background-color: white;
    color: black;
    font-size: 1.5em;
    border-radius: 20px;
    transition-duration: 0.6s;
}

article{
    padding: 3px;
    border-radius: 10px;
    background-color: #141414;
    margin-top: 30px;
    margin: auto;
    max-width: 300px;
    text-align: center;
}

article h2{
    color: white;
    font-size: 2em;
    text-shadow: 2px 2px 7px rgba(0, 0, 0, 0.555);
}

article p{
    color: white;
    text-align: justify;
}


main{
    padding-top: 50px;
    margin: 0px;
    width: 80%;
    margin: auto;
    box-shadow: 2px 2px 7px black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

section{
    background-color: rgba(0, 0, 0, 0.74);
    border-radius: 10px;
    height: 400px;
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

section nav.projetos{
    background-color: white;
    width: 30%;
    height: 90%;
    margin: 0px 2px;
    border-radius: 10px;
}

section nav h2{
    color: purple;
    text-align: center;
}

section nav div{
    background-color: grey;
    height: 45%;

}

section nav p{
    padding: 4px;
    font-size: 0.9em;
    
}


footer{
    margin-top: 10px;
    background-color: blue;
    width: 100%;
    height: 250px;
}