@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
    padding: 0px;
    margin: 0px;
}

:root{
    --corfundo: #313131;
    --corheader: #141414;
}

body{
    background-color: var(--corfundo);
    font-family: 'Bebas Neue', sans-serif;
}

header{
    padding-top: 20px;
    padding-bottom: 22px;
    margin-bottom: 30px;
    height: 125px;
    color: white;
    background-image: linear-gradient(to top, #000000, #14141400);
    text-align: center;
}

header h1{
    font-size: 3em;
    margin-bottom: 40px;
    text-shadow: 2px 2px 7px rgba(0, 0, 0, 0.753);
}

header a{
    font-size: 1.19em;
    text-decoration: none;
    color: white;
    padding: 0px 20px;
}

header a:hover{
    background-color: white;
    color: black;
    font-size: 1.5em;
    border-radius: 20px;
    transition-duration: 0.6s;
}

nav{
    
}

article{
    padding: 3px;
    border-radius: 10px;
    background-color: #141414;
    margin-top: 30px;
    margin: auto;
    max-width: 300px;
    text-align: center;
}

article h2{
    color: white;
    font-size: 2em;
    text-shadow: 2px 2px 7px rgba(0, 0, 0, 0.555);
}

article p{
    color: white;
    text-align: justify;
}





